<div class="row">
	<span class="col-5 text-center">Player name</span>
	<span class="col-2 text-center">Cards</span>
	<span class="col-5 text-center">Prizes</span>
</div>

<ul class="list-group">
	<li class="player list-group-item" *ngFor="let player of gameService.context.game.players"
		[ngClass]="{'my-turn': gameService.context.game.turn == player.id}">
		<div class="row">
			<strong class="col-5 text-center">{{ player.name}}</strong>
			<small class="col-2 text-center">{{ player.cardCount}}</small>
			<span *ngIf="player.prizeCards.length>0" class="col-5 prizes text-center">
          <span class="card" *ngFor="let card of player.prizeCards">
            <app-card-render [card]="card"></app-card-render>
          </span>
			</span>
			<span *ngIf="player.prizeCards.length==0" class="col-5 blinds text-center">
          <span class="card" *ngFor="let card of player.blindCards">
           ?
          </span>
			</span>
		</div>
	</li>
</ul>